@model IEnumerable<projectCD.Models.User>

@{
    ViewData["Title"] = "Index";
}
    <div class="backContainer">

        <h1>Utlåning</h1>

        <p>
            <a asp-action="Create">Lägg till</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Album)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Album.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UserId">Uppdatera</a> |
                            <a asp-action="Details" asp-route-id="@item.UserId">Visa info</a> |
                            <a asp-action="Delete" asp-route-id="@item.UserId">Radera</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
